<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error - 404 page</title>
  </head>
  <body>
    <div>
      <h2>Error - 404</h2>
      <p>Oops! The page you were looking for doesn't exist</p>
      <a href="/">Back to Home Page</a>
  </body>
</html>
